<section>
    <div class="welcome">
        <h1 class="text-center welcome-text">QUOTES MANIA</h1>
        <a href="#myQuote">
            <h5 class="btn text-center btn-outline-warning">
                Add Quotes
            </h5>
        </a>
    </div>
    <div class="display">
        <div class="quote" *ngFor='let quote of quotes; let i= index'>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="card" style="width: 18rem; height: 16rem;">
                            <div id="{{i}}" class="card-body">
                                <h4 class="card-title">Author:{{ quote.author }}</h4>
                                <p class="card-text">Quote: {{ quote.Quote }}</p>
                                <button (click)='toggleDetails(i)' class="btn btn-outline-primary btn-sm">More</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="confuse">
            
        </div>
    </div>
</section>