/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.welcome{
    padding:290px;
    /* background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTftYYfCNHQCrWtHetrLXP29OdJXTU9cWQM5nYXiIOQizyK8mHi'); */
    background-repeat: no-repeat;
    background-size: 100vw;
    background-color: #537895;
    background-image: linear-gradient(to right, rgb(67, 70, 105), rgb(55, 58, 90), rgb(43, 47, 75), rgb(31, 35, 61), rgb(19, 24, 46), rgb(7, 12, 31), rgb(6, 10, 27), rgb(5, 9, 22), rgb(5, 7, 18), rgb(4, 5, 14), rgb(3, 4, 9), rgb(2, 2, 5));    opacity: o.6;    
}

h1{
    color:yellow;
    font-weight: 800;
    font-family: 'Rock Salt', cursive;
    padding-top: 0vh;
}
h5{
    color: blue;
    font-size: 20px;
    font-weight: 800;
    font-family: 'Rock Salt', cursive;
    margin-top: 100px;
    margin-left: 40%;
}
h6{
    color: blue;
    font-size: 20px;
    font-weight: 800;
    font-family: 'Rock Salt', cursive;
    margin-top: 100px;
    /* margin-left: 40%; */
}

.quote{
    padding: 20px;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 150px;

    display: flex;
    float: left;
    box-shadow: 3px 3px 10px blue;
}

h2{
    color: #070c1f;
    font-weight: 600;
    font-family: 'Rock Salt', cursive;
    padding: 30px;
}
#myQuote{
    padding: 200px;
    padding-top: 0;

}